/Read2MeOnlineBookStore/03 ProjectInNetbeans/Read2Me/dist/
/INT303_Project-CW/Read2Me/dist/
/INT303_Project-CW New Update/INT303_Project-CW/Read2Me/build/
/INT303_Project-CW New Update/INT303_Project-CW/Read2Me/nbproject/private/